.foot-logo-text {
    font-weight: normal !important;
    color: #FFFFFF !important;
    font-size: 2.57143rem !important;
}

.alert {
    color: red;
}

.confirm-text {
    color: green;
}

.spam-field {
    display: none !important;
}

.thumb {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-button {
    width: 300px;
    background-color: #F9CE06;
    border-radius: 3px;
    color: #FFFFFF;
    padding-left: 15px;
    margin-bottom: 1.875rem;
    line-height: 3rem;
    cursor: pointer;
}

.signup-container .alert.alert-danger {
    margin-bottom: 1.875rem;
}

.signup-container .profile-review {
    box-shadow: 3px 3px 3px #888888;
}

.mentor [class*="column"] + [class*="column"]:last-child {
    float: left !important;
}