.foot-logo-text {
    font-weight: normal !important;
    color: #FFFFFF !important;
    font-size: 2.57143rem !important;
}

.alert {
    color: red;
}

.confirm-text {
    color: green;
}

.spam-field {
    display: none !important;
}