.foot-logo-text {
    font-weight: normal !important;
    color: #FFFFFF !important;
    font-size: 2.57143rem !important;
}

.alert {
    color: red;
}

.confirm-text {
    color: green;
}

.spam-field {
    display: none !important;
}

.thumb {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-button {
    width: 300px;
    background-color: #F9CE06;
    border-radius: 3px;
    color: #FFFFFF;
    padding-left: 15px;
    margin-bottom: 1.875rem;
    line-height: 3rem;
    cursor: pointer;
}

.signup-container .alert.alert-danger {
    margin-bottom: 1.875rem;
}

.signup-container .profile-review {
    box-shadow: 3px 3px 3px #888888;
}

.mentor [class*="column"] + [class*="column"]:last-child {
    float: left !important;
}
.mentor p,
.mentor h4{
    margin-bottom: 0.1rem;
}

.mentor .gallery-nav li {
    cursor: pointer;
    user-select: none;
}

.mentor .gallery-nav.large a {
    font-size: 1.5rem;
}

.mentor .gallery-nav li.active {
    border: 1px solid #F9CE06;
}

.mentor .gallery-nav li.active a {
    color: #F9CE06;
}

.single-mentor div.random-profile{
    height: 500px;
    width: 500px;
    line-height: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20rem;
}

div.random-profile {
    height: 250px;
    width: 250px;
    font-size: 10rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 250px;
    color: #FFFFFF;
}

select {
    padding-left: 15px;
}
