<div class='contain-to-grid sticky' ng-controller="headerController">
    <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
        <ul class='title-area'>
            <li class='name'>
                <h1>
                    <a href='#/'>
                        Seven
                    </a>
                </h1>
            </li>
            <li class='toggle-topbar menu-icon'>
                <a href='#'>Menu</a>
            </li>
        </ul>
        <section class='top-bar-section'>
            <ul class='right'>
                <li class=''>
                    <a href='#/'>{{titles.home}}</a>
                </li>
                <li class=''>
                    <a href='#/instructor'>{{titles.instructors}}</a>
                </li>
                <li class=''>
                    <a href='#/signin'>{{titles.signin}}</a>
                </li>
                <li class='has-dropdown'>
                    <a href=''>{{titles.joinus}}</a>
                    <ul class='dropdown'>
                        <li>
                            <a href='#/studentreg'>{{titles.asstudent}}</a>
                        </li>
                        <li>
                            <a href='#/instructorreg'>{{titles.asinstructor}}</a>
                        </li>
                    </ul>
                </li>
                <li class='has-dropdown'>
                    <a href=''>{{titles.language}}</a>
                    <ul class='dropdown'>
                        <li>
                            <a ng-click="selectCategory('cn')">中文</a>
                        </li>
                        <li>
                            <a ng-click="selectCategory('en')">English</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
<script type="text/javascript-lazy">loadJsFile("http://shiyang-fei.github.io/libs/other/app.js", "js");</script>
<script type="text/javascript-lazy">loadJsFile("js/start-app.js", "js");</script>