<div ng-controller="instructorSignUpController">
    <div class='full parallax' style='background-image: url(images/Optimized-about-us.jpg); color: #fff;'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='big mod modSectionHeader'>
                    <div class='special-title centered-text'>
                        <h2 style='color: #fff'>
                            {{text.insturctorsignupheader}}
                        </h2>
                    </div>
                    <h3 class='centered-text' style='color: #fff'>{{text.insturctorsignupheader}}</h3>
                </div>
            </div>
        </div>
        <div class='four spacing'></div>
    </div>
    <div class='full'>
        <div class='row centered-text' ng-show="showsuccess">
            <div class='large-12 columns confirm-text'>
                <p>{{signupSuccessText}}</a></p>
            </div>
            <div class='two spacing'></div>
        </div>
        <div class='row centered-text' ng-show="showerror">
            <div class='large-12 columns'>
                <div class="alert alert-danger" role="alert">
                    <span class="sr-only">{{errorMsg}}</span>
                </div>
            </div>
            <div class='two spacing'></div>
        </div>
        <div class='row centered-text'>
            <div class='large-12 columns'>
                <p>
                    Please fill in the below form and complete your application to become a Seven Education Instructor
                </p>
            </div>
            <div class='two spacing'></div>
        </div>
        <div class='row'>
            <div class='medium-12 columns'>
                <div class='form'>
                    <div class='row'>
                        <form name='instructorSignUp' method='POST'>
                            <div class='large-12 columns'>
                                <p id='thanks' style='display: none;'>
                                    Thanks for your application, our hiring specialist will review your information and
                                    contact you soon!
                                </p>
                            </div>
                            <div class='medium-12 columns signup-container'>
                                <input required class='required email' name='email'
                                       placeholder='{{text.email}} ({{text.required}})'
                                       type="email" ng-model="formData.email">
                                <input required class='required' name='password'
                                       placeholder='{{text.password}} ({{text.required}})'
                                       type='password' ng-model="formData.password">
                                <input required class='required' name='password1'
                                       placeholder='{{text.confirmpassword}} ({{text.required}})'
                                       type='password' ng-model="formData.password1">

                                <div ngf-select ng-model="profileImage" class="upload-button"
                                     ngf-multiple="false" ngf-accept="'*.jpg,*.png'" ng-model-rejected="rejFiles"
                                     tabindex="0"
                                     ngf-max-size="5000000"
                                     ngf-change="onFileChange($files, $rejectedFiles)">{{text.selectprofile}}
                                </div>
                                <div class="alert alert-danger" ng-show="invalidFileError != null">
                                    {{invalidFileError}}
                                </div>

                                <img ng-show="profileImage[0] != null" ngf-src="profileImage[0]"
                                     class="thumb profile-review" width="100px" height="100px">

                                <input required class='required' name='name'
                                       placeholder='{{text.name}} ({{text.required}})'
                                       type='text'
                                       ng-model="formData.name">

                                <input required class='required' name='weixin'
                                       placeholder='{{text.weixin}} ({{text.required}})'
                                       type="text"
                                       ng-model="formData.weixin">

                                <input class='required' name='phone' placeholder='{{text.phone}}' type='text'
                                       ng-model="formData.phone">

                                <tags-input ng-model="formData.subjects"
                                            placeholder="{{text.addsubjects}} ({{text.required}})"
                                            add-from-autocomplete-only="true">
                                    <auto-complete source="loadSubjects($query)"
                                                   min-length="0"
                                                   debounce-delay="0">

                                    </auto-complete>
                                </tags-input>

                                <select ng-model="formData.school">
                                    <option value="" disabled selected>Select your school</option>
                                    <option ng-repeat="school in schools track by $index" value="{{school}}">
                                        {{school}}
                                    </option>
                                </select>

                                <tags-input ng-model="formData.majors"
                                            placeholder="{{text.addmajors}} ({{text.required}})"
                                            add-from-autocomplete-only="true">
                                    <auto-complete source="loadMajors($query)"
                                                   min-length="0"
                                                   debounce-delay="0">

                                    </auto-complete>
                                </tags-input>

                                <select ng-model="formData.degree">
                                    <option value="" disabled selected>Select your degree</option>
                                    <option ng-repeat="degree in degrees" value="{{degree}}">{{degree}}</option>
                                </select>

                                <input class='required' name='job' placeholder='{{text.jobtitle}}' type='text'
                                       ng-model="formData.jobTitle">

                                <select ng-model="formData.country">
                                    <option value="" disabled selected>Select your country</option>
                                    <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}
                                    </option>
                                </select>

                                <input required class='required' name='state'
                                       placeholder='{{text.state}} ({{text.required}})'
                                       type='text'
                                       ng-model="formData.state">

                                <input required class='required' name='zip'
                                       placeholder='{{text.zip}} ({{text.required}})'
                                       type='text'
                                       ng-model="formData.zip">

                                <textarea required name='introduction'
                                          placeholder='{{text.selfintro}} ({{text.required}})'
                                          ng-model="formData.description"></textarea>

                                <input required class="button white" type="submit" value="{{text.submit}}"
                                       ng-click="submitForm()">

                                <!--THIS IS A HIDDEN FIELD TO PREVENT SPAM-->
                                <label><input type="text" class="spam-field" name="spam"
                                              ng-model="formData.spam"></label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='two spacing'></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript-lazy">loadJsFile("javascripts/app.js", "js");</script>