<div ng-controller="instructorController" class="mentor">
    <div class='full parallax' style='background-image: url(images/team.jpg); color: #fff;'>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='big mod modSectionHeader'>
                    <div class='centered-text'>
                        <h2 style='color: #fff'>
                            {{text.instructors}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class='four spacing'></div>
    </div>
    <div class='full'>

        <div class="mod modGallery">
            <div class="gallery-nav large">
                <ul>
                    <li class="{{view.status}}"
                        ng-repeat="view in views track by $index" ]>
                        <a data-cat="{{view.name}}" ng-click="onViewSelect($event)">{{view.text}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mod modGallery">
            <div class="gallery-nav">
                <ul>
                    <li class="{{option.status}}"
                        ng-repeat="option in filterOptions track by $index"
                        ng-click="onFilterToggle($event, $index)"
                        ng-show="option.name">
                        <a data-cat="{{option.name}}">{{option.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-repeat="section in formattedTeacherList" ng-show="section.visible == true">
            <div class='row'>
                <h2>{{section.key}}</h2>
            </div>
            <div ng-repeat="row in section.data"
                 class="row">
                <div ng-repeat="teacher in row.teachers"
                     class='small-6 medium-3 large-3 columns'>
                    <div class='mod modTeamMember'>
                        <div class='member'>
                            <div ng-show="teacher.profileImage"
                                 style="cursor: pointer;width:250px;height:250px;
                                 background:url('{{profileUrlPrefix}}{{teacher.profileImage}}') no-repeat center center;
                                 background-size:250px;"
                                 ng-click="onMentorSelected(teacher)">
                            </div>
                            <div ng-show="!teacher.profileImage"
                                 class="random-profile"
                                 style="background: {{colors[$index]}};cursor: pointer;"
                                 ng-click="onMentorSelected(teacher)">
                                {{teacher.name[0]}}
                            </div>
                        </div>
                        <h4 class="centered-text"
                            ng-click="onMentorSelected(teacher)"
                            style="cursor: pointer;">
                            {{teacher.name}}
                        </h4>

                        <p class='centered-text'>
                            <span>{{teacher.school}}</span>
                            <span ng-show="teacher.degree"> | {{teacher.degree}}</span>
                        </p>

                        <p class='centered-text'>{{teacher.subjects.join(", ")}}</p>

                        <p class='centered-text' style="font-size:0.8rem;">
                            {{teacher.description.length > 150 ? teacher.description.substring(0, 150) + '...' : teacher.description}}
                        </p>

                        <div class='two spacing'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript-lazy">loadJsFile("js/start-app.js", "js");</script>
<script type="text/javascript-lazy">loadJsFile("javascripts/app.js", "js");</script>